.categoria {
    margin: 1em 0;
    font-size: 1.2em;
    color: mediumblue;
    border-bottom: 0.1em solid deepskyblue;
    width: 50%;
}
input {
    margin-right: 0.5em;
}
.boton {
    margin: 1em 25vw;
    border-radius: 6px;
    background-color: white;
    border: 3px solid rgb(60, 153, 214);
    padding: 0.5em;
    color: rgb(60, 153, 214);
    font-weight: bolder;
}
.boton:hover {
    background-color: rgb(60, 153, 214);
    color: white;
}
.correcta {
    color: rgb(16, 170, 16);
}
.error {
    color: red;
}